h2{
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',;
}
a{
    text-decoration: none;
    font-size: medium;
    font-family: 'Times New Roman', sans ;   
    font-weight: bolder;
    color: beige;
    padding: 10px;
}
.nv1{
    font-weight: 600;
    font-size: 35px;
    color: beige;  
}
.nv{
    background-color: rgb(22, 22, 155);
    display: flex;align-items: center;
    justify-content: space-between;
    padding-left: 20px;padding-right:20px;
}
li{
    list-style: none;
    display: inline-block;  
}
.cont{
    text-align: center;
    padding-top: 20px;   
}
.same{
    width: 30%;
    height: 30%;
    padding-top: 20px;
    border-radius: 20%;
    margin-right: 20px;
    margin-left: 40px;
  
}
.same1{
    width: 30%;
    height: 30%;
    padding-top: 20px;
    border-radius: 20%;
    margin-right: 40px;
    margin-left: 20px;  
}
.same2{
    width: 40%;
    height: 40%;
    padding-top: 20px;
    border-radius: 20%;
    margin-right: 20px;
    margin-left: 40px;
  
}
.cont{
    padding-top: 11%;padding-bottom: 10%;
    padding-left: 5%;   
    padding-right: 5%;
   
}
.ty{
    text-align: center;
    background-color: crimson;
    color: beige;
}

   


